@import '~compass-mixins/lib/compass/css3';

.main-page {
  background-color: rgb(255, 211, 218);
  width: 100%;
  .content {
    display: flex;
    flex-direction: row;
    width: auto;
  }
  .stage {
    width: 800px;
    margin-top: 30px;
    background-color: rgb(253, 250, 224);
    @include border-radius(20px 20px 0 0);
    .blocks {
      display: flex;
      flex-flow: row;
      margin: auto;
      width: 800px;
    }
  }
  .side {
    flex-grow: 1;
    padding-top: 30px;
    box-sizing: border-box;
  }
  .button {
    color: palevioletred;
    background-color: white;
    width: 150px;
    cursor: pointer;
    padding: 5px;
    @include border-radius(5px);
    font-weight: 700;
    margin: auto;
    margin-bottom: 20px;
    .inner-btn {
      border: 1px dashed rgb(255, 163, 178);
      padding: 3px;
      text-align: center;
    }
    &:hover {
      background-color: rgb(253, 196, 205);
      color: white;
    }
  }
  .log {
    width: calc(80%);
    height: 200px;
    margin-top: 20px;
    margin: auto;
    overflow-y: scroll;
    background-color: rosybrown;
    color: white;
    @include border-radius(5px);
    p {
      line-height: 20px;
      margin: 5px;
    }
  }
}
