@import '~compass-mixins/lib/compass/css3';
@import './../variables.scss';

.main-page {
  background-color: $back-pink;
  width: 100vw;
  height: 100vh;
  .content {
    display: flex;
    flex-direction: row;
    width: auto;
  }
  .stage {
    width: $stage-width;
    margin-top: $content-top-margin;
    background-color: $stage-yellow;
    height: $stage-height;
    @include border-radius(20px 20px 0 0);
    .blocks {
      display: flex;
      flex-flow: row;
      margin: auto;
      width: $stage-width;
    }
  }
  .side {
    flex-grow: 1;
    padding-top: $content-top-margin;
    box-sizing: border-box;
  }
  .button {
    color: $text-color-pink;
    background-color: white;
    width: $button-width;
    cursor: pointer;
    padding: 5px;
    @include border-radius(5px);
    font-weight: 700;
    margin: auto;
    margin-bottom: 20px;
    .inner-btn {
      border: 1px dashed $button-stech;
      padding: 3px;
      text-align: center;
    }
    &:hover {
      background-color: $button-hovered;
      color: white;
    }
  }
  .log {
    width: calc(80%);
    height: 200px;
    margin-top: 20px;
    margin: auto;
    overflow-y: scroll;
    background-color: $log-dark-pink;
    color: white;
    @include border-radius(5px);
    p {
      line-height: 20px;
      margin: 5px;
    }
  }
}
