@import '~compass-mixins/lib/compass/css3';
@import './../variables.scss';

.main-page {
  background-color: $back-pink;
  width: 100vw;
  height: 100vh;
  overflow-y:hidden;
  .content {
    display: flex;
    flex-direction: row;
    width: auto;
  }
  .stage {
    width: $stage-width;
    margin-top: $content-top-margin;
    background-color: $stage-yellow;
    height: $stage-height;
    @include border-radius(20px 20px 0 0);
    .blocks {
      display: flex;
      flex-flow: row;
      margin: auto;
      width: $stage-width;
    }
  }
  .side {
    flex-grow: 1;
    padding-top: $content-top-margin;
    box-sizing: border-box;
    min-width:250px;
    .tab{
      margin:auto;
      width: calc(80%);
      display:flex;
      flex-direction:row;
      .tag{
        width: calc(100% / 4);
        text-align:center;
        cursor:pointer;
        background:linear-gradient(180deg,white 90%, $button-stech 10%);
        color:$log-dark-pink;
        &.selected {
          background:$button-stech;
          color:white;
        }
      }
    }
  }
  .button {
    color: $text-color-pink;
    background-color: white;
    width: $button-width;
    cursor: pointer;
    padding: 5px;
    @include border-radius(5px);
    font-weight: 700;
    margin: auto;
    margin-bottom: 20px;
    .inner-btn {
      border: 1px dashed $button-stech;
      padding: 3px;
      text-align: center;
    }
    &:hover {
      background-color: $button-hovered;
      color: white;
    }
  }
}
