<div class="main-page">
  <app-header></app-header>
  <div class="content">
    <div class="side">
      <div class="button" (click)="onNext()">
        <div class="inner-btn">NEXT()</div>
      </div>
      <div class="log">
        <p *ngFor="let log of logs">{{ log }}</p>
      </div>
    </div>
    <div class="stage">
      <div class="blocks">
        <app-block
          *ngFor="let name of subNames"
          [sub]="subs.get(name)"
          [name]="name"
        ></app-block>
      </div>
    </div>
    <div class="side">
      <div class="button" (click)="onNext()">
        <div class="inner-btn">next()</div>
      </div>
      <div class="button" (click)="onCompleted()">
        <div class="inner-btn">complete()</div>
      </div>
    </div>
  </div>
</div>
