<div class="main-page">
  <app-header></app-header>
  <div class="content">
    <div class="side">
      <div class="button" (click)="onNext()">
        <div class="inner-btn">NEXT()</div>
      </div>
      <div class="toBeReplaced complete" (click)="onCompleted()">COMPLETE</div>
    </div>
    <div class="stage">
      <div class="blocks">
        <app-block
          *ngFor="let name of subNames"
          [sub]="subs.get(name)"
          [name]="name"
        ></app-block>
      </div>
    </div>
    <div class="side">
      <div class="button" (click)="onNext()">
        <div class="inner-btn">NEXT()</div>
      </div>
      <div class="toBeReplaced complete" (click)="onCompleted()">COMPLETE</div>
    </div>
  </div>
</div>
